# Copie para terraform.tfvars e preencha com seus valores.

proxmox_endpoint  = "https://10.26.7.10:8006"
proxmox_api_token = "user@pam!terraform=XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"
proxmox_node      = "pve01"
proxmox_pool      = "researchers"

vm_name      = "ubuntu-server"
vm_cores     = 4
vm_memory    = 4096     # 4 GB
vm_disk_size = 32       # 32 GB
iso_file     = "ubuntu-24.04.4-live-server-amd64.iso"
